body {
	background-color: white;
	text-align: center;
	font-family: 'roboto', sans-serif;
}
ul {
	list-style-type: none;


}
.content {
	font-size: 2rem;
	width: 100%;
	text-align: left;
	margin-left: 23.1rem;
	margin-top: 5.1rem;
	line-height: 45%;
}
.scroll {
	/*background-color: lightgrey;*/
    width: 58.6%;
    padding: 25px;
    border: 4px black;
    border-style: solid;
    margin: 25px;
    margin-left: 23.1rem;
	margin-top: 1.1rem;
	line-height: 500%;
	height: 500px;
    overflow: scroll;
}
p {
	text-align: left;
	font-size: 2.2rem;

}

.scroll li{
	margin-top: 5px;
	margin-bottom: 3px;
	font-size: 3rem;
	margin-right: 718px;

}
.scroll ul {
	margin: 0;
	list-style: none;
}

.main {
	margin-left: 23.1rem;
	margin-top: -1.9rem;
	width: 100%;
	text-align: left;
	margin-left: 23.1rem;
	vertical-align: middle;
}
.itemInsert{
	width: 300px;
}
button {
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    line-height: 1.33;
    background-color: black;
    font-size: 2.5rem;
    color: white;
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-left: 1.1em;
    height: 86px;
    width: 300px;
}
button:hover {
	background-color: lightgrey;
 	cursor: pointer;
}
form {
	margin-top: 3.1em;
	
}
input[type=text] {
	height: 86px;
	width: 650px;
	font-size: 2.5rem;
}

